@{
    Layout = null;
}
@model bugtracker.Models.ForgotPasswordViewModel

<!DOCTYPE html>
<html lang="en">
<head>
    <meta charset="utf-8">
    <meta name="viewport" content="width=device-width, initial-scale=1.0">
    <meta name="description" content="">
    <meta name="author" content="Dashboard">
    <meta name="keyword" content="Dashboard, Bootstrap, Admin, Template, Theme, Responsive, Fluid, Retina">
    <title>Dashio - Bootstrap Admin Template</title>

    <!-- Favicons -->

    <link href="~/img/core icon.jpg" rel="icon" />


    <!-- Bootstrap core CSS -->
    <link href="~/Content/bootstrap.min.css" rel="stylesheet" />
    <!--external css-->
    <link href="~/Content/font-awesome.css" rel="stylesheet" />
    <!-- Custom styles for this template -->
    <link href="~/Content/style.css" rel="stylesheet" />

    <link href="~/Content/style-responsive.css" rel="stylesheet" />

    <!-- =======================================================
      Template Name: Dashio
      Template URL: https://templatemag.com/dashio-bootstrap-admin-template/
      Author: TemplateMag.com
      License: https://templatemag.com/license/
    ======================================================= -->
</head>
<body class="bg-dark">
    <div class="container">
        <div class="card card-login mx-auto mt-5">
            <div class="card-header">Reset Password</div>
            <div class="card-body">
                <div class="text-center mb-4">
                    <h4>Forgot your password?</h4>
                    <p>Enter your email address and we will send you instructions on how to reset your password.</p>
                </div>
                @using (Html.BeginForm("ForgotPassword", "Account", FormMethod.Post, new { @class = "form-horizontal", role = "form" }))
                {
                    @Html.AntiForgeryToken()
                    <div class="form-group">
                        <div class="form-label-group">
                            <input type="email" Name="Email" id="inputEmail" class="form-control" placeholder="Enter email address" required="required" autofocus="autofocus">
                            <label for="inputEmail">Enter email address</label>
                        </div>
                    </div>
                    <button type="submit" class="btn btn-primary">Login</button>
                }
                <div class="text-center">
                    @Html.ActionLink("Register an Account", "CustomRegister", "Account", null)
                    <br />
                    @Html.ActionLink("Login Page", "CustomLogin", "Account", null)
                </div>
            </div>
        </div>
    </div>
    <!-- js placed at the end of the document so the pages load faster -->

    <script src="~/Scripts/jquery.min.js"></script>
    <script src="~/Scripts/bootstrap.min.js"></script>
    <!--BACKSTRETCH-->
    @*You can use an image of whatever size. This script will stretch to fit in any screen size.*@
    <script src="~/Scripts/jquery.backstretch.min.js"></script>
    <script src="https://cdnjs.cloudflare.com/ajax/libs/jquery-backstretch/2.0.4/jquery.backstretch.min.js"></script>
    <script>
        $.backstretch("img/adminback.jpeg", {
            speed: 500
        });
    </script>

</body>
</html>
