
@{
    ViewBag.Title = "Forgot Password Confirmation";
  
}
<section id="main-content">
    <section class="wrapper site-min-height">
        <h3><i class="fa fa-angle-right"></i>@ViewBag.Title</h3>
        <div class="row mt">
            <div class="col-lg-12">
                
                <div>
                    <p>
                        Please check your email to reset your password.
                    </p>
                </div>
            </div>
        </div>
    </section>
</section>

    

